Source: bif3
Section: web
Priority: optional
Maintainer: Sergio Cayuqueo <sergio@linuxv.com.ar>
Standards-Version: 0.4.2

Package: bif3
Architecture: all
Depends: apache | httpd | libapache-mod-php5 | libapache2-mod-php5 | php5 php5-xml | php5-cli | php-pear
Suggests: mysql-server php5-mysql php5-pgsql
Description: Build it Fast (BIF) is a PHP Framework for Web Applications development
 Build it Fast (BIF) is a PHP Framework. It contains
 several classes that help you develop complex Web
 applications in a short amount of time. It brings
 the concept of the 'widget' to Web development.
 It features Cascade Skins and transparent session
 management.
 .
 Homepage: http://www.bif.org.ar/
