.titleboxtext  {  
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: #000033;
  text-align: justify ;
  padding: 0px 10px 0px 10px
}
ul {
padding: 0px 0px 0px 10px;
list-style-image: url(../images/li.gif); 
}

.titleboxtitle { 
  font-family: Helvetica, sans-serif;
  font-variant: small-caps;
  font-size: 12pt;
  font-weight: bold;
  color: #cc0000;
  text-align: center;
}
